
<h1>Accediendo ...</h1>

<body onLoad="redireccionar()">

    <script language="JavaScript">
        function redireccionar() {
          setTimeout("location.href='http://frontend:3000'", 1000);
        }
    </script>
