
<h1>Accediendo ...</h1>

<body onLoad="redireccionar()">

    <script language="JavaScript">
        function redireccionar() {
          setTimeout("location.href='http://localhost:3000'", 2000);
        }
    </script>
